/* Reset */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    font-family: acumin-pro, sans-serif;
}
img{
    max-width: 100%;   
    height: auto;
}

/* Text Properties */
@media (min-width: 0px){
    h1{
        font-size: 4rem;
        color: #ff7036;
        font-family: acumin-pro-extra-condensed;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 4rem;
    }
    h2{
        font-size: 1.5rem;
        color: #6d6d7a;
        text-align: left;
        margin-top: 3rem;
        margin-right: auto;
    }
    h3{
        font-size: 1.5rem;
        color: #6d6d7a;
        text-align: left;
    }
    p{
        font-size: 1rem;
        color: #6d6d7a;
        text-align: left;
    }
}
@media (min-width: 768px){
    h1{
        font-size: 5rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    h2{
        font-size: 2rem;
        margin-top: 4rem;
    }
    h3{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.2rem;
    }
}


/* Mobile */
@media (min-width: 0px){
    .main-container{
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /* Navbar */
    .ny-nav-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .topnav {
        width: 100%;
        text-align: right;
    }
    .hamburger {
        display: none;
        float: right;
        margin-top: 1rem;
        font-size: 30px;
        color: #6d6d7a;
    }
    #mytopnav{
        display: flex;
    }
    .dropbtn {
        color: #6d6d7a;
        border: none;
        font-size: 1rem;
        padding-top: 0.7rem;
        background: none;
    }
    .nav-background{
        padding-bottom: 0.5rem;
        box-shadow: 0px 0.2px #6d6d7a;
    }
    .dropdown {
        position: relative;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: none;
        min-width: 9rem;
        z-index: 1;
        text-align: left;
    }
    .dropdown-content a {
        padding-left: 1rem;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: none;
    }
    
    .dropdown:hover .dropdown-content {display: contents;
    }
    
    .dropdown:hover .dropbtn {background-color: none;
    }

    @media screen and (max-width: 768px){
        .ny-nav-container {
            flex-direction: column;
            max-width: 85%;
            margin-left: auto;
            margin-right: auto;
        }
        .topnav {
            text-align: left;
        }
        .topnav a {
            display: block;
            color: #6d6d7a;
            padding-top: 0.7rem;
            font-size: 1rem;
        }
        .topnav a:hover{
            color: #35353b; 
        }
        .hamburger {
            display: block;
        }
        .topnav {
            display: none;
        }
        .topnav.responsive {
            display: block;
        }
        .mobile-logo{
            width: 70px;
            margin: 0.8rem 0px 0px 0px;
            color: #ff7036;
        }
        .icon-logo{
            display: none;
        }
    }

    /* Intro */
    .intro-video-container{
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .intro-video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    .intro-paragraph-text{
        text-align: center;
        margin-top: -1rem;
    }
    .container{
        max-width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .intro-form-title{
        color: white;
        padding: 10px 0px 10px 0px;
    }
    .intro-form-email{
        color: white;
        margin: 5px 10px 5px 0px;
        font-size: 1rem;
        width: 80%;
    }
    .sub-intro-form-email{
        color: #6d6d7a;
        margin: 5px 10px 5px 0px;
        font-size: 1rem;
        width: 80%;
    }
    .intro-form-email-box{
        color: #6d6d7a;
        -webkit-appearance: none;
        height: 1.5rem;
        border: none;
        margin-top: 0.5rem;
        display: flex;
        width: 142px;
    }
    .sub-intro-form-email-box{
        -webkit-appearance: none;
        padding: 0.5rem 0.rem 0.5rem 0.5rem;
        border: none;
        background-color: #efefef;
    }
    .intro-button{
        -webkit-appearance: none;
        padding: 8px 40px 8px 40px;
        color: #8A9CFF;
        border: white;
        background: white;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 1rem;
    }
    .sub-form-container{
        margin-bottom: 1rem;
    }
    .sub-button{
        color: white;
        border: none;
        background: #6d6d7a;
        cursor: pointer;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    .sub-form{
        display: flex;
    }
    .sub-container{
        margin: 0rem 0rem 0rem 0rem;
    }
    .intro-link-title-text {
        color: #ff7036;
    }
    .intro-link-title-text:hover {
        text-decoration: underline;
        color: #ff7036;
    }
    .intro-title-text{
        margin-bottom: 1rem;
    }

    /* Poddar */
    .poddar-video{
        max-width: 100%;
    }

    /* Email */
@media (min-width: 0px){
    /* Changes the style of the overall form */
    #mc_embed_signup {
      color: #000000 !important;
      text-align: center !important;
      -webkit-appearance: none !important;
    }
  
    /* Styles the header text above the inputs */
    #mc_embed_signup h2 {
      font-size: 18px !important;
      margin: 0 0 20px !important;
      color: #000000 !important;
      text-align: center !important;
      -webkit-appearance: none !important;
    }
  
    /* Styles the input boxes */
    #mc_embed_signup  input {
      width: 200px !important;
      border-radius: 0px !important;
      -webkit-appearance: none !important;
    }
  
    /* Styles the subscribe button */
    #mc_embed_signup .button {
      background-color: #6d6d7a !important;
      color: #ffffff !important;
      margin: 0 auto !important;
      border-radius: 0px !important;
      -webkit-appearance: none !important;
    }
  
    #mc_embed_signup form {
      padding: 0px !important;
      -webkit-appearance: none !important;
    }
  
    #mc_embed_signup .mc-field-group input {
      padding-left: 20px !important;
      -webkit-appearance: none !important;
    }
  
    #mc_embed_signup .mc-field-group {
      padding: 0px !important;
      min-height: 45px !important;
      -webkit-appearance: none !important;
    }
  }

    /* Discord */
    .rectangle-discord {
        background-color: #8A9CFF;
        display: block;
        padding: 2rem;
        margin: 1rem auto 1rem auto;
      }
    .flex-container{
        max-width: 85%;
        height: auto;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    .flex-item{
        width: auto;
        height: auto;
        max-width: 100%;
        margin-top: 1rem;
    }
    .discord-form{
        margin-right: 5rem;
    }
    .sub-form-container-discord{
        margin-top: 1rem;
    }
    .discord-title-text{
        color: white;
        margin-top: 0px;
    }
    .form-container{
        -webkit-appearance: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .form-inner-container{
        -webkit-appearance: none;
    }
    .discord-paragraph-text{
        color: white;
    }

    /* Avanza + Lysa*/
    .avanza-video{
        margin-top: 1rem;
    }
    .buttons{
        margin: 1rem auto 0rem auto;
        max-width: 350px;
    }
    .avanza-button{
        -webkit-appearance: none;
        padding: 10px;
        width: 85%;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 1rem;
    }
    .avanza-color{
        background-color: #56be86;
    }
    .lysa-color{
        background-color: #0672E5;
    }
    .avanza-button:hover{
        background-color: #6d6d7a;
    }
    .nybörjare-color{
        background-color: #6d6d7a;
    }
    .nybörjare-color:hover{
        background-color: #ff7036;
    }
    .landing-button{
        margin-bottom: 1rem;
    }


    /* About */
    .about-background{
        background: #6d6d7a;
        margin-top: 2rem;
    }
    .about-button{
        margin: 1rem 0px 1rem 0px;
        padding: 10px;
        width: 60%;
        color: #ff7036;
        border: none;
        background: white;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer;
        min-width: 200px;
    }
    .about-image-1{
        margin-bottom: 2rem;
    }
    .about-title-text{
        color: white;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .about-paragraph-text{
        color: white;
    }

    /* To-do */
    .to-do-button{
        margin: 40px 0px 30px 0px;
        padding: 10px;
        width: 40%;
        color: white;
        border: none;
        background: #6d6d7a;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer;
        min-width: 150px;
    }

    /* Om oss */
    .image-viktor{
        margin: 1rem 0rem 1rem 0rem;
        text-align: center;
        border: 0.5rem solid #6d6d7a;
    }
    .link{
        color: #6d6d6d;
    }
    .link:hover{
        color: #ff7036;
    }

    /* quiz */
    .list-style{
        list-style-type: none;
        color: #6d6d7a;
    }
    .header-quiz{
        color: #ff7036;
        padding-bottom: 30px;
        overflow: auto;
        font-size: 47px;
        text-align: center;
    }
    .form-position{
        position: relative;
        width: 1000px;
        margin: 50px auto 0;
        box-sizing: border-box;
        cursor: pointer;
    } 
    .quiz-heading{
        color: #ff7036;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
        color: #ff7036;
    }
    .form-radio{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        background-color: #f1f1f1;
        color: #666;
        height: 30px;
        width: 30px;
        border: 0;
        border-radius: 50px;
        cursor: pointer;     
        margin-right: 45px;
        outline: none;
        margin: 20px 20px 0px 0px;
    }
    .form-radio:checked::before{
        position: absolute;
        font: 13px/1 'Open Sans', sans-serif;
        left: 11px;
        top: 7px;
        content: '\02143';
        transform: rotate(40deg);
    }
    .form-radio:hover{
        background-color: #f7f7f7;
    }
    .form-radio:checked{
        background-color: #f1f1f1;
    }
    .try-again{
        color: #f1f1f1;
    }
    .try-again-button{
        margin: 20px 0px 30px 0px;
        padding: 12px;
        width: 40%;
        color: white;
        border-radius: 8px;
        border: white;
        background: #6d6d7a;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    .outcome{
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 30px;
        color: #6d6d7a;
        text-align: center;
    }
    .submit{
        margin: 40px 0px 30px 0px;
        padding: 12px;
        width: 40%;
        color: white;
        border-radius: 8px;
        border: white;
        background: #6d6d7a;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    /* Mallar */
    .card {
        background-color:#EDEDED;
        padding: 2rem;
        margin-bottom: 1rem;
        border-radius: 0px;
        cursor: pointer;
        box-shadow: 0 10px 10px 0 rgba(102, 76, 76, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .card:hover{
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        cursor: pointer;
    }
    .cards {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
        cursor: pointer;
    }
    .card-1-text{
        text-align: center;
        color: #6d6d7a;
    }
    .mallar-paragraph-text{
        text-align: center;
        margin-bottom: 2rem;
    }

    /* Investeringsstrategi */
    .investeringsstrategi-video{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
        margin-bottom: 3rem;
    }
    .video-container{
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
        margin-bottom: 3rem;
    }

    /* Om oss */
    .avanza-link{
        text-align: center;
        margin: 0rem 1rem 1rem 1rem;
    }

    /* Cards */
    .snip1527 {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        color: #ffffff;
        font-size: 16px;
        max-width: 310px;
        min-width: 250px;
        overflow: hidden;
        position: relative;
        width: 100%;
        margin: auto;
      }
      
    .snip1527 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    }
    
    .snip1527 figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    }
    
    .snip1527 figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff7036;
    content: '';
    z-index: -1;
    }
    
    .snip1527 .date {
    background-color: #fff;
    border-radius: 50%;
    color: #ff7036;
    font-size: 18px;
    font-weight: 700;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: -25px;
    }
    
    .snip1527 .date span {
    display: block;
    line-height: 14px;
    }
    
    .snip1527 .date .month {
    font-size: 11px;
    }
    
    .snip1527 h3,
    .snip1527 p {
    margin: 0;
    padding: 0;
    }
    
    .snip1527 h3 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
    color: white;
    font-size: 1.2rem;
    }
    
    .snip1527 p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 0px;
    color: white;
    }
    
    .snip1527 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    }
    
    .snip1527:hover img,
    .snip1527.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

    /* Footer */
    .footer-background{
        background: #6d6d7a;
    }
    .footer-copyright-text{
        text-align: left;
        color: white;
        padding-top: 0.5rem;
        padding-bottom: 2rem;
    }
    .footer-investering-text{
        text-align: center;
        color: white;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: left;
    }
    .fab{
        padding-right: 20px;
        font-size: 40px;
        color: white;
        margin-top: 1rem;
    }
    .fab:hover{
        color: #ff7036;
    }
    .icons{
        text-align: left;
    }
    .footer-link{
        color: white;
    }
    .footer-link:hover{
        color: #ff7036;
    }
    .footer-title{
        color: white;
        padding-top: 1rem;
    }
    .footer-title-text{
        color: white;
        padding-top: 2rem;
    }
}

/* 768px */
@media (min-width: 768px){
    .main-container{
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Navbar */
    .topnav a {
        font-size: 1rem;
        color: #6d6d7a;
        padding-left: 1rem;
    }
    .topnav a:hover{
        color: #35353b;
    }
    .topnav{
        margin: 0.7rem 2rem 0rem 0rem;
    }
    .mobile-logo{
        width: 3rem;
        margin: 1rem 0px 0px 0rem;
        color: #ff7036;
    }
    .icon-logo{
        display: none;
    }
    .ny-nav-container{
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        height: 3.5rem;
    }
    .dropdown{
        padding-left: 1rem;
        display: inline-block;
    }
    .dropdown-content a{
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        padding-right: 1rem;
    }
    .dropdown-content{
        background-color: #efefef;
        padding: 5px 0px 5px 0px;
        border-radius: 0.5rem;
    }
    .dropdown:hover .dropdown-content {display: block;
    }
    .nav-background{
        padding-bottom: 0.5rem;
        box-shadow: 0px 0.2px #6d6d7a;
    }

    /* Intro */
    .intro-container{
        margin-right: auto;
        margin-left: auto;
    }
    .container{
        max-width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .intro-form-title{
        padding: 10px 0px 0px 0px;
        color: White;
        font-size: 30px;
    }
    .intro-form{
        padding-bottom: 25px;
        max-width: 60%;
        display: block;
        margin-left: 6%;
    }
    .intro-form-email{
        color: white;
        margin: 5px 10px 5px 0px;
        font-size: 1rem;
    }
    .sub-intro-form-email{
        color: #6d6d7a;
        margin: 5px 10px 5px 0px;
        font-size: 1rem;
    }
    .intro-form-email-box{
        color: #6d6d7a;
        width: 40%;
    }
    .intro-button{
        -webkit-appearance: none;
        margin: 10px 0px 0px 0px;
        padding: 10px;
        width: 40%;
        color: #8A9CFF;
        border: white;
        background: white;
        font-size: 1rem;
        cursor: pointer;
    }
    .sub-intro-form-email-box{
        -webkit-appearance: none;
        padding: 0.5rem 3rem 0.5rem 1rem;
        border: none;
        background-color: #efefef;
    }
    .intro-button{
        -webkit-appearance: none;
        padding: 8px 40px 8px 40px;
        color: #8A9CFF;
        border: white;
        background: white;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 1rem;
    }

    /* Discord */
    .flex-container{
        max-width: 85%;
        display: inline;
        flex-wrap: wrap;
    }
    .sub-flex-container{
        max-width: 85%;
        display: inline;
        flex-wrap: wrap;
    }
    .discord-form{
        margin-top: 2rem;
    }
    .flex-item{
        min-width: 500px;
        min-height: 250px;
    }

    /* Avanza + Lysa*/
    .avanza-video{
        margin-top: 1rem;
    }
    .buttons{
        max-width: 450px;
    }
    .avanza-button{
        -webkit-appearance: none;
        padding: 10px;
        width: 85%;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 1rem;
    }

    /* About */
    .about-background{
        background: #6d6d7a;
        width: 100%;
        height: 100%;
    }
    .about-button{
        margin: 20px 0px 20px 0px;
        padding: 12px;
        width: 40%;
        color: #ff7036;
        border: none;
        background: white;
        cursor: pointer;
    }
    .about-image-1{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    /* To-do */
    .to-do-button{
        margin: 40px 0px 35px 0px;
        padding: 12px;
        width: 30%;
        color: white;
        border: none;
        background: #6d6d7a;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    /* Artiklar */
    .articles-title-text{
        margin-bottom: 1rem;
        margin-top: 4rem;
    }
    .card{
        margin-right: 1rem;
    }

    /* Om oss */
    .image-viktor{
        margin: 2rem 0rem 2rem 0rem;
        text-align: center;
        border: 1rem solid #6d6d7a;
    }

    /* Mallar */
    @media (min-width: 600px) {
        .cards { grid-template-columns: repeat(2, 1fr); }
    }
}

/* 992px */
@media (min-width: 992px){
    /* Intro */
    .main-container{
        max-width: 60%;
    }
    .intro-form-title{
        padding: 10px 0px 0px 0px;
        color: white;
        font-size: 40px;
    }
    .intro-form-email{
        color: white;
        margin: 5px 10px 5px 0px;
        font-size: 1.5rem;
    }
    .sub-intro-form-email{
        color: #6d6d7a;
        margin: 5px 10px 5px 0px;
        font-size: 1.5rem;
    }
    .sub-container{
        margin: auto;
    }
    .intro-form-email-box{
        color: #6d6d7a;
        width: 40%;
        margin-top: 5px;
        height: 2rem;
    }
    .intro-button{
        -webkit-appearance: none;
        margin: 20px 0px 30px 0px;
        padding: 12px;
        width: 40%;
        color: #8A9CFF;
        border: white;
        background: white;
        font-size: 20px;
        cursor: pointer;
    }
    .sub-intro-form-email-box{
        -webkit-appearance: none;
        padding: 1rem 6rem 1rem 2rem;
        border: none;
        background-color: #efefef;
        font-size: 1rem;
    }
    .intro-button{
        -webkit-appearance: none;
        padding: 8px 40px 8px 40px;
        color: #8A9CFF;
        border: white;
        background: white;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 1rem;
    }
    .sub-form-container{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .sub-button{
        color: white;
        border: none;
        background: #6d6d7a;
        cursor: pointer;
        padding: 1rem 2rem 1rem 2rem;
        font-size: 1rem;
    }
    .sub-form{
        display: flex;
    }

    /* Navbar */
    .ny-nav-container{
        max-width: 60%;
    }
    .icon-logo{
        width: 10rem;
        margin-top: 1rem;
        display: block;
    }
    .topnav a{
        color: #6d6d7a;
        font-size: 1rem;
        display: inline-block;
        padding: 0rem;
    }
    .topnav{
        margin: 0.7rem 0rem 2rem 0rem;
    }
    .mobile-logo{
        display: none;
    }
    .dropbtn{
        font-size: 1.rem;
        margin-right: 1rem;
    }
    .dropdown-content a {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        padding-left: 1rem;
        padding-right: 1.2rem;
    }
    .dropdown-content {
        padding: 7px 0px 7px 0px;
        border-radius: 0.7rem;
    }
    .dropdown{
        padding-left: 0rem;
    }

    /* Avanza + Lysa*/
    .avanza-button{
        -webkit-appearance: none;
        padding: 15px;
        width: 85%;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 1rem;
    }
    .avanza-color{
        background-color: #4eac81;
    }
    .lysa-color{
        background-color: #0672E5;
    }
    .buttons{
        max-width: 750px;
    }

    /* Lysa */
    .rectangle {
        height: 250px;
        width: 100%;
        background-color: #0672E5;
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        padding: 30px;
        }
        .lysa-video{
        border-radius: 15px;
        border: 20px solid #0672E5;
        -webkit-appearance: none;
        width: 500px;
        height: 275px;
        }
        .lysa{
            margin-bottom: 270px;
        }
        .lysa-main-logo{
        padding: 10px 0px 15px 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
        }

    /* About */
    .about-background{
        background: #6d6d7a;
        width: 100%;
        height: 100%;
    }
    .about-button{
        margin: 2rem 0px 2rem 0px;
        padding: 12px;
        width: 40%;
        color: #ff7036;
        border: none;
        background: white;
        cursor: pointer;
    }
    .about-image-1{
        width: 70%;
        margin-bottom: 2rem;
    }

    /* To-do */
    .to-do-button{
        margin: 40px 0px 35px 0px;
        padding: 12px;
        width: 40%;
        color: white;
        border: none;
        background: #6d6d7a;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    .to-do-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Discord */
    .rectangle-discord{
        background-color: #8A9CFF;
        display: block;
        padding: 30px;
        margin: 2rem auto 2rem auto;
    }

    /* Om oss */
    .intro-link{
        max-width: 60%;
        text-align: left;
        margin: auto auto 5rem auto;
    }
    .image-viktor{
        margin: 2rem 0rem 2rem 0rem;
        text-align: center;
        border: 1rem solid #6d6d7a;
    }
    .om-oss-margin{
        margin-bottom: 2rem;
    }

    /* Investeringsstrategi */
    .video-container{
        padding: auto 2rem auto 2rem;
    }

    /* Mallar */
    @media (min-width: 900px) {
        .cards { grid-template-columns: repeat(3, 1fr); }
    }
    /* Footer */
    .footer-title{
        padding-top: 2rem;
    }
}

/* 1600px */
@media (min-width: 1600px){
    /* Intro */
    .main-container{
        max-width: 40%;
    }
    .container{
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .intro-form-title{
        padding: 10px 0px 0px 0px;
        color: white;
        font-size: 50px;
    }
    .intro-form-email{
        color: white;
        margin: 10px 10px 5px 0px;
        font-size: 25px;
    }
    .sub-intro-form-email{
        color: #6d6d7a;
        margin: 10px 10px 5px 0px;
        font-size: 25px;
    }
    .intro-form-email-box{
        color: #6d6d7a;
        width: 40%;
        margin-top: 5px;
    }
    .intro-button{
        -webkit-appearance: none;
        padding: 12px;
        width: 40%;
        color: #8A9CFF;
        border: white;
        background: white;
        font-size: 25px;
        cursor: pointer;
    }
    .sub-form-container{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    /* Lysa */
        .rectangle {
        width: 100%;
        height: 380px;
        background-color: #0672E5;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 40px;
        padding: 40px;
        }
        @media screen and (min-width: 2000px) {
        .rectangle {
        height: 600px;
            }
        }
        .lysa-video{
        border-radius: 25px;
        border: 25px solid #0672E5;
        -webkit-appearance: none;
        width: 80%;
        height: 100%;
        }
        .lysa{
            margin-bottom: 270px;
        }
        .lysa-main-logo{
        padding: 10px 0px 15px 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
        }

    /* About */
    .about-background{
        background: #6d6d7a;
        width: 100%;
        height: 100%;
    }
    .about-button{
        margin: 25px 0px 30px 0px;
        padding: 12px;
        width: 40%;
        color: #ff7036;
        border: none;
        background: white;
        cursor: pointer;
    }
    .about-image-1{
        width: 80%;
    }

    /* To-do */
    .to-do-button{
        margin: 40px 0px 35px 0px;
        padding: 12px;
        width: 20%;
        color: none;
        border: white;
        background: #6d6d7a;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    .to-do-image{
        padding-bottom: 20px;
    }

    /* Discord */
    .rectangle-discord{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
    }

    /* Om oss */
    .image-viktor{
        margin: 3rem 0rem 3rem 0rem;
        text-align: center;
        border: 1rem solid #6d6d7a;
    }
    .om-oss-margin{
        margin-bottom: 100px;
    }

    /* Footer */
    .footer-copyright-text{
        padding: 2rem 1rem 3rem 0rem;
    }
    .footer-investering-text{
        padding: 2rem 0px 0rem 0px;
    }
}